[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "aa-fleetpings"
version = "2.24.3"
description = "Fleet Ping Tool for Alliance Auth supporting pings via webhooks to Discord."
readme = "README.md"
license = "GPL-3.0"
requires-python = "~=3.8"
authors = [
    { name = "Peter Pfeufer", email = "develop@ppfeufer.de" },
]
keywords = [
    "allianceauth",
    "eveonline",
    "fleetpings",
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 4.0",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
]
dependencies = [
    "allianceauth-app-utils>=1.13.0",
    "allianceauth>=3.2.0",
    "dhooks-lite>=0.6.1",
]

[project.urls]
Homepage = "https://github.com/ppfeufer/aa-fleetpings"
Documentation = "https://github.com/ppfeufer/aa-fleetpings/blob/master/README.md"
Source = "https://github.com/ppfeufer/aa-fleetpings.git"
Changelog = "https://github.com/ppfeufer/aa-fleetpings/blob/master/CHANGELOG.md"
Tracker = "https://github.com/ppfeufer/aa-fleetpings/issues"

[tool.hatch.build]
include = [
    "/fleetpings",
]
