{% load i18n %}

<div class="form-group clearfix">
    <label class="col-md-3 control-label" for="fleetType">{% translate "Fleet Type" %}</label>
    <div class="col-md-9">
        <select id="fleetType" name="fleetType" class="form-control">
            <option value="">{% translate "Please select" %}</option>
            <option value="Roaming" data-embed-color="#81FD2D">{% translate "Roaming Fleet" %}</option>
            <option value="Home Defense" data-embed-color="#F1C40F">{% translate "Home Defense" %}</option>
            <option value="StratOP" data-embed-color="#E67E22">{% translate "StratOP" %}</option>
            <option value="CTA" data-embed-color="#E91E63">{% translate "CTA" %}</option>

            {% if additionalFleetTypes|length > 0 %}
                <option value="" disabled></option>
                <optgroup label="{% translate 'Additionally configured fleet types' %}">
                    {% for fleetType in additionalFleetTypes %}
                        {% if fleetType.embed_color %}
                            <option value="{{ fleetType.name }}" data-embed-color="{{ fleetType.embed_color }}">{{ fleetType.name }}</option>
                        {% else %}
                            <option value="{{ fleetType.name }}" data-embed-color="#FAA61A">{{ fleetType.name }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>
    </div>
</div>
