{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Fleet Pings" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Fleet Pings" %}
{% endblock header_nav_brand %}

{% block content %}
    <div class="aa-fleetpings">
        <div class="aa-fleetpings-body">
            {% block aa_fleetpings_body %}{% endblock %}
        </div>

        <div class="aa-fleetpings-footer mt-3 pt-3 border-top border-light">
            {% include "fleetpings/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
